cluster = {
  name               = "myCluster"
  vip_address        = "10.0.0.30"
  kubernetes_version = "v1.30.2"
  talos_version      = "v1.7.5"
}

node_data = {
  default_gateway = "10.0.0.1"
  dns_endpoint    = "10.0.0.1"
  ntp_endpoint    = "time.cloudflare.com"

  control_plane = {
    nodes = {
    /*
    Nodes MUST be valid IPv4 addresses.
    */
      "10.0.0.31" = {
        install_disk = "/dev/sda"
      },
      "10.0.0.32" = {
        install_disk = "/dev/sda"
      },
      "10.0.0.33" = {
        install_disk = "/dev/sda"
      }
    }
  }

  worker = {
    nodes = {
    /*
    Nodes MUST be valid IPv4 addresses.
    */
      "10.0.0.34" = {
        install_disk = "/dev/sda"
      },
      "10.0.0.35" = {
        install_disk = "/dev/sda"
      },
      "10.0.0.36" = {
        install_disk = "/dev/sda"
      }
    }
  }
}

extra_global_config = <<EOF
install:
  wipe: false
EOF

extra_controlplane_config = {}

extra_worker_config = {}
